@font-face {
    font-family: SmbWeb;
    src: url('../font/smbfont.ttf') format("truetype");
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
}

@-webkit-keyframes bkgScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100% 0px;
  }
}
@keyframes bkgScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100% 0px;
  }
}

body {
  user-select: none;
  -moz-user-select: none;
  
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.background-a {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #6b8cff;
  background-image: url(../img/home/bkga.png);
  background-repeat: repeat-x;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
  -webkit-animation: bkgScroll 150s linear infinite;
  animation: bkgScroll 150s linear infinite;
}

.background-b {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-color: #000000;
  background-image: url(../img/home/bkgb.png);
  background-repeat: repeat-x;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
  -webkit-animation: bkgScroll 150s linear infinite;
  animation: bkgScroll 150s linear infinite;
}

.background-c {
  background-color: #000000;
};

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container-center {
  font-family: SmbWeb;
  color: #FFFFFF;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.title {
  font-size: 64px;
}

@media only screen and (max-width: 769px) {
  .title {
    font-size: 28px;
    text-align: center;
  }
}

.container-launch {
  font-size: 32px;
}

@media only screen and (max-width: 769px) {
  .container-launch {
    font-size: 16px;
  }
}

.container-bottom {
  font-size: 32px;
}

.container-go {
  font-size: 32px;
  text-align: center;
}

@media only screen and (max-width: 769px) {
  .container-go {
    font-size: 16px;
  }
}

.launch {
  cursor: pointer;
  margin-left: 6px;

  animation: glow 1s infinite alternate;
}

.private {
  cursor: pointer;
  margin-left: 6px;
  float: right;

  animation: 1s infinite alternate;
}

@media only screen and (max-width: 769px) {
  .launch {
    margin-left: 2px;
  }
}

.launch:hover {
  animation: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.launchStrong:hover {
  animation: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.launchStrong{
    font-size: 32px;
    font-family:SmbWeb;
    background: none;
    border: none;
    color: white;
    animation: glow 1s infinite alternate;
}

.players {
  font-size: 20px;
  margin-right: 4px;
  float: right;
}

.player-number {
  color: #00FF00;
}

@media only screen and (max-width: 769px) {
  .players {
    font-size: 16px;
  }
}

.name {

}

.name-input {
  font-family: SmbWeb;
  font-size: 64px;
  color: white;
  text-align: center;
  
  background: transparent;
  border: none;
  border-bottom: 5px dashed #FFFFFF; 
  margin-bottom: 8px;
}

.name-input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 769px) {
  .name-input {
    font-size: 20px;
  }
}

.team {

}

.team-input {
  font-family: SmbWeb;
  font-size: 32px;
  color: white;
  text-align: center;
  
  background: transparent;
  border: none;
  border-bottom: 5px dashed #FFFFFF; 
  margin-bottom: 8px;
  width: 100%;
}

.team-input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 769px) {
  .team-input {
    font-size: 12px;
  }
}

.dis-lg {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.dis-sm {
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
  white-space: normal;
}

@media only screen and (max-width: 769px) {
  .dis-lg {
    font-size: 8px;
    margin-bottom: 8px;
    white-space: normal;
  }
  
  .dis-sm {
    font-size: 4px;
    white-space: normal;
  }
}

.warn {
  position: absolute;
  margin: 0px 0px 0px 0px;
  padding: 5px 32px 2px 4px;
  font-family: "Calibri", monospace;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 0.25);

  font-size: 16px;
}

.warn-ico {
  height: 16px;
  margin-bottom: -2px;
  margin-right: 2px;
}

.error {
  font-size: 32px;
}

.fullscreen {
  margin: 0 0 0 0;
  padding: 0 0 0 0;  
  width: 100%;
  height: 100%;
}

.debugLog {
  font-family: SmbWeb;
  color: black;
}

.skin-select-button {
  text-align:left;
  display:inline-block;
  width: 16px;
  height: 16px;
  margin: 10px;
  border:2px solid black;
  background: url('../img/game/smb_skin0.png') -208px 0px;
  transform:scale(2);
}

.skin-select {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
    width: 110px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(2);
    background-color: rgb(0,0,0,0);
}

.container-return {
  font-family: SmbWeb;
  font-size: 32px;
  color: #FFFFFF;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) translateY(-90%);
  white-space: nowrap;
}

.container-privLobby {
  font-family: SmbWeb;
  color: #FFFFFF;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: black;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.levelSelectButton {
    display: inline-block;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    border:2px solid black;
}
.levelSelectRow {
    text-align: center;
    margin: 2px;
}