@font-face {
    font-family: Mario;
    src: url('../font/smbfont.ttf') format("truetype");
}

body {
	font-family: Mario;
	font-size: 10px;
	color: #fff;
	line-height: 1.4;
	background-color: #6b8cff;
	
}

p {
  margin-left: 8px;
}

a {
  color: #fff;
}

h1 {
  margin-bottom: 8px;
}

.note {
  font-style: italic;
  margin-bottom: 8px;
  background-color: #0066AF;
  width: fit-content;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
  border: dashed 2px black;
}